@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background: #f5f7fb;
}
/* Payment Form CSS */
fieldset {
  border: none;
  width: 200px;
  margin: auto;
}
legend {
    display: none;
}
.form-title {
    text-align: center;
    letter-spacing: .15rem;
}
label{
    padding-bottom: 2rem;
    letter-spacing: .15rem;
}
input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    height: 1.5rem;
    border-radius: 5px;
}
#state {
    width: 5%;
}
#zip-code {
    width: 18%;
}
#zip-code::placeholder,
#card-expiration::placeholder {
    text-align: center;
}
#card-expiration {
    width: 18%;
}
#card-cvv {
    text-align: center;
    width: 14%;
}
.form-wrapper button {
    height: 2rem;
    border-radius: 5px;
    border: none;
    width: 120px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    transition: .1s;
}
.form-wrapper button:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.form-wrapper button:focus {
    background-color: green;
}
.btn-payment {
    width: 42%;
    margin: auto;
    padding-bottom: 1rem;
}
.stripe-logo {
    width: 35%;
    height: 75%;
    margin: auto;
    padding-top: 1em;
}
.stripe-div {
    display: flex;
    align-items: center;
}
.stripe-div p {
    font-size: .8rem;
    white-space: nowrap;
    padding-right: 1em;
    padding-top: 1em;
}
/* End Payment Form CSS */