@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background: #f5f7fb;
}
/* Payment Form CSS */
fieldset {
  border: none;
  width: 200px;
  margin: auto;
}
legend {
    display: none;
}
.form-title {
    text-align: center;
    letter-spacing: .15rem;
}
label{
    padding-bottom: 2rem;
    letter-spacing: .15rem;
}
input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    height: 1.5rem;
    border-radius: 5px;
}
#state {
    width: 5%;
}
#zip-code {
    width: 18%;
}
#zip-code::placeholder,
#card-expiration::placeholder {
    text-align: center;
}
#card-expiration {
    width: 18%;
}
#card-cvv {
    text-align: center;
    width: 14%;
}
/* End Payment Form CSS */