@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background: #fafafa;
}

.navbar {
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1.5em;
    list-style-type: none;
}

.navbar li {
    color: black;
    text-align: center;
    width: 13vw;
    height: 5vw;
    transition: .1s;
}

.navbar li:hover {
    transform: scale(1.1);
    color: #a3e635;
}